<template>
  <div class="card">
    <h3 class="card__js">#Javascript</h3>
    <div class="card__menu"/>
    <h2 class="card__title">{{postTitle}}</h2>
    <p class="card__desc">CSS фреймворк та директива від GitHub</p>
    <a href="javascript:void(0);" class="card__link">Link</a>
    <img src="../assets/settings.svg" alt="settings" class="card__settings">
  </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.card {
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f4f7;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  max-width: 470px;
  &__js {
    color: #902156;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0 0 4px;
  }
  &__title {
    font-size: 18px;
    color: #313335;
    margin: 0 0 20px;
  }
  &__desc {
    color: #6e7680;
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 21px;
    font-family: "Roboto", sans-serif;
  }
  &__link {
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    padding: 12px 16px 8px;
    line-height: 0.1em;
    font-size: 10px;
    text-decoration: none;
    border: 2px solid #e2eaf0;
    transition: all 0.25s ease;
    color: #313335;
    border-radius: 22px;
    &:hover {
      color: #6bca3e;
      border: 2px solid #6bca3e;
    }
    &:visited {
      color: #e2eaf0;
    }
  }
  &__settings {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (min-width: 992px) {
  .card {
    text-align: left;
    padding-bottom: 24px;
    padding-left: 20px;
    &__js {
      margin-top: 20px;
    }
    &__link {
      position: absolute;
      bottom: 24px;
      right: 0;
    }
    &__desc {
      margin-bottom: 0;
    }
  }
}
</style>
<script>
export default {
  props: ["postTitle"]
};
</script>


