<template>
  <main class="main">
    <div class="main__container">
      <div class="main__left-content">
        <h1 class="main__title">
          Цукерочки
          <img src="../assets/1f36d.png" alt="candy" class="main__candy">
        </h1>
        <p
          class="main__desc"
        >Дуже багато нових рішень та крутих фіч які економлять час та покращуюсь вашу роботу в десятки разів. Ласкаво просимо до ознайомлення. Немає часу на перегляд всього? Підпишись та отримуй найцікавіше в одному листі раз на тиждень.</p>
        <h3 class="main__subtitle">
          Отримуйте першим нові цукерочки
          <span class="main__fire">🔥</span>
        </h3>
        <div class="main__form">
          <input type="email" placeholder="Ваш email" class="main__input">
          <button class="main__submit"/>
        </div>
      </div>

      <div class="main__cards">
        <Menu/>
        <Card postTitle="Moeditor"/>
        <Card postTitle="waitMe"/>
        <Card postTitle="Primer"/>
        <Card postTitle="Django spurlr"/>
        <button class="main__button">Всі 309 цукерочок</button>
      </div>
    </div>
  </main>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.main {
  padding-top: 80px;
  &__container {
    padding: 0 43px;
    font-family: "Khula", sans-serif;
  }
  &__title {
    margin: 0 0 30px;
    line-height: 1.3;
    font-size: 38px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f0f4f7;
  }
  &__candy {
    margin-left: 7px;
  }
  &__desc {
    display: none;
    color: #6e7680;
    font-family: "Roboto", sans-serif;
    line-height: 24px;
  }
  &__subtitle {
    font-size: 18px;
    margin-bottom: 20px;
  }
  &__fire {
    font-family: "IBM Plex Sans", sans-serif;
  }
  &__form {
    position: relative;
    text-align: center;
    max-width: 220px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  &__input {
    margin-bottom: 50px;
    &:focus:valid {
      border: 2px solid #6bca3e;
      background: #fff;
    }
    &:focus:placeholder-shown {
      background-color: #fff;
      border: 2px solid #e2eaf0;
    }
    &:focus:invalid {
      border: 2px solid rgba(218, 67, 83, 0.4);
      background: rgba(218, 67, 83, 0.1);
      & + .main__submit {
        border: 2px solid rgba(218, 67, 83, 0.4);
      }
    }
    padding: 22px 30px 22px 30px;
    border: 2px solid transparent;
    border-radius: 30px;
    background-color: #f0f4f7;
    max-width: 100%;
    cursor: pointer;
    outline: none;
    &:hover {
      background-color: #e2eaf0;
    }
  }
  &__submit {
    position: absolute;
    top: 9px;
    right: 7px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    border: 2px solid #e2eaf0;
    background: url("../assets/Vector.svg") center no-repeat;
    background-color: #fff;
    transition: all 0.25s ease;
    outline: none;
    &:hover {
      border: 2px solid #6bca3e;
      background: url("../assets/Vector_green.svg") center no-repeat;
      background-color: #fff;
    }
    &:focus {
      border: 2px solid #6bca3e;
      background: url("../assets/Accept.svg") center no-repeat;
      background-color: #6bca3e;
    }
  }
  &__button {
    padding: 13px 49px;
    cursor: pointer;
    border-radius: 52px;
    border: none;
    color: #fff;
    background: #902156;
    transition: all 0.25s ease;
    margin-bottom: 80px;
    margin-top: 50px;
    &:hover {
      background: #ae2968;
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .main {
    &__desc {
      display: block;
    }
  }
}
@media (min-width: 992px) {
  .main {
    padding-top: 96px;
    &__container {
      max-width: 950px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &__left-content {
      margin-right: 30px;
    }
    &__desc {
      display: block;
      text-align: left;
      padding-bottom: 40px;
      border-bottom: 1px solid #f0f4f7;
      max-width: 480px;
    }
    &__title {
      margin-bottom: 70px;
      padding: 0;
      border: none;
      text-align: left;
      font-size: 48px;
    }
    &__subtitle {
      text-align: left;
    }
    &__input {
      width: 100%;
    }
    &__form {
      width: 100%;
      max-width: none;
    }
    &__button {
      width: 100%;
    }
  }
}
</style>
<script>
// @ is an alias to /src
import Menu from "@/components/Menu.vue";
import Card from "@/components/Card.vue";

export default {
  name: "components",
  components: {
    Menu,
    Card
  }
};
</script>
