<template>
  <div class="menu">
    <button class="menu__element menu__element_main-button">
      <img src="../assets/menu.svg" alt="menu">
    </button>
    <button class="menu__element">
      <img src="../assets/js.svg" alt="js">
    </button>
    <button class="menu__element">
      <img src="../assets/penguin.svg" alt="penguin">
    </button>
    <button class="menu__element">
      <img src="../assets/css-3.svg" alt="css">
    </button>
    <button class="menu__element">
      <img src="../assets/html-5.svg" alt="html">
    </button>
    <button class="menu__element">
      <img src="../assets/python.svg" alt="python">
    </button>
    <button class="menu__element">
      <img src="../assets/ruby.svg" alt="ruby">
    </button>
    <button class="menu__element">
      <img src="../assets/php.svg" alt="php">
    </button>
    <button class="menu__element">
      <img src="../assets/android.svg" alt="android">
    </button>
    <button class="menu__element">
      <img src="../assets/java.svg" alt="java">
    </button>
  </div>
</template>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.menu {
  display: none;
}
@media (min-width: 992px) {
  .menu {
    display: flex;
    max-width: 425px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    border-bottom: 1px solid #f0f4f7;
    &__element {
      cursor: pointer;
      border: none;
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #f0f4f7;
      &:hover {
        background-color: #e2eaf0;
      }
      &_main-button {
        border: 2px solid #6bca3e;
        background-color: #fff;
        &:hover {
          background-color: #fff;
        }
      }
    }
  }
}
</style>
